# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать директории obj и bin
**/obj/
**/bin/

# Игнорировать файлы сборки
*.dll
*.exe

# Игнорировать .idea для JetBrains
.idea/

# Игнорировать файлы Visual Studio
.vs/